 /* <uniquifier>:Use a unique and descriptive class name
 <weight>:Use a value from 100 to 900 */

 
 /* html-body initialization*/
 *{
    margin: 0;
    padding: 0;
    font-family: inter;
    font-size: 20px;
}

/* google font import */
.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


/*----------------------------------------- main section -------------------------------------------*/

/* main section flex customization */
.main-container{
    margin: 0;
    display: flex;
    height: 75%;
    background-color: #ffcd9e;
    
}

/* main section 1st division - contentpart */

.contentpart{
    width: 50%;
    padding: 2em 6em;
    padding-right: 0em;
}

/* text elements customization */
h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5em;
    color:#282828
}

h4{
    font-weight: 800;
    color: #282828;
}

p{
    color: #484848;
    line-height: 1.5em;
    font-weight: 500;
}

/* form input css customization */
input{
    height: 3rem;
    width:17rem;
    border:4px solid black;
    border-radius: 10px;
}

/* button customization */
input[type=button]{
    width: 10rem;
    background-color: black;
    color: white;
}

#fixed{
    color: white;
    font-size: smaller;
    text-align: center;
    font-weight: 500;
}

/* main section 2nd division - picture part */

.picpart{
    padding-left: 0em;
    flex-grow: 1.5;
    
}

.picpart img{
    height: 100%;
    width: 100%;
    padding-bottom: 3em;    
}

/*--------------------------------------------------- footer section -----------------------------------------------*/


/* footer section flex customization */
.footer-container{
    height: 25%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0em 8em 2em 8em;
    line-height: 1.75em;
    background-color: #282828;
}

/* footer section address part */
.footer-container .address{
    text-align: right;
    margin-top: 2em;
}

/* footer section details part */
.footer-container .details{
    margin-top: 2em;
}

/* footer section anchor tag css customization */
.details a{
    text-decoration: none;
    color: white;
}

/* --------------------------------------------media queries---------------------------------------------------- */

/* media queries for mobile and tablets */
@media all and (min-width:640px) and (max-width:979px) {
    .main-container,.footer-container{
        flex-direction: column;
    }

    .footer-container{
        justify-content: center;
    }

    .footer-container .address{
        text-align: left;
    }

    input{
        width:13em;
    }
    
}

/* media queries for below average mobile displays */
@media all and (max-width:639px){
    body *{
        display: none;
    }
    body .lessscreen{
        display: block;
        visibility: visible;
    }
}

/* for inappropriate screen */
.lessscreen{
    display: hidden;
    visibility: hidden;
}